@page

@{
    ViewData["Title"] = "Home Page";
   Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Dashboard</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard v1</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Horizontal Form</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form class="form-horizontal">
                    <div class="card-body">
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Select Company <span style="color:red"> *</span></label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">Select BU/Project/Plant <span style="color:red"> *</span></label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                            </div>
                        </div>
                    
                           
                            

                        
                                <div class="form-group row">

                            <label class="col-sm-2 col-form-label" for="exampleCheck2">Select Exp Type <span style="color:red"> *</span></label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                                    </div>
                                </div>
                          

                   
                                <div class="form-group row">

                            <label class="col-sm-2 col-form-label" for="exampleCheck2">Location of work <span style="color:red"> *</span></label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                                    </div>
                                </div>
                           

                      
                                <div class="form-group row">

                            <label class="col-sm-2 col-form-label" for="exampleCheck2">Select Exp Type <span style="color:red"> *</span></label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                                    </div>
                                </div>
                         

                                <div class="form-group row">

                            <label class="col-sm-2 col-form-label" for="exampleCheck2">Type of Work/Work Details <span style="color:red"> *</span></label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                                    </div>
                                </div>
                          

                       
                                <div class="form-group row">
                                  
                                    <label class="col-sm-2 col-form-label" for="exampleCheck2">Enclosure BQQ	</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                                    </div>
                                </div>
                          

                    
                                <div class="form-group row">
                                   
                                    <label class="col-sm-2 col-form-label" for="exampleCheck2">Enclosure Drawing/Technical Specification</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                                    </div>
                                </div>
                          

                       
                                <div class="form-group row">

                            <label class="col-sm-2 col-form-label" for="exampleCheck2">Select Budget  <span style="color:red"> *</span>	</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                                    </div>
                                </div>
                            
                       
                                <div class="form-group row">
                                   
                                    <label class="col-sm-2 col-form-label" for="exampleCheck2">TAT (Turn Around Time)	</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                                    </div>
                                </div>
                           

                         
                                <div class="form-group row">
                                    
                                    <label class="col-sm-2 col-form-label" for="exampleCheck2">
                                Tentative Start Date <span style="color:red"> *</span>
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                                    </div>
                                </div>
                           

                       
                                <div class="form-group row">
                                    
                                    <label class="col-sm-2 col-form-label" for="exampleCheck2">Proposed Contractor Name (New/Existing)	</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                                    </div>
                                </div>
                           

                       
                                <div class="form-group row">
                                   
                                    <label class="col-sm-2 col-form-label" for="exampleCheck2">Vendor Existing/New for Same Location	</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                                    </div>
                                </div>
                          

                       
                                <div class="form-group row">
                                    
                                    <label class="col-sm-2 col-form-label" for="exampleCheck2">Contractor Details (if New), Address, GST No. etc.	</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                                    </div>
                                </div>
                           

                        
                                <div class="form-group row">
                                    
                                    <label class="col-sm-2 col-form-label" for="exampleCheck2">Other Remarks	</label>
                                      <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                            </div>
                                </div>
                          

                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <button type="submit" class="btn btn-info">Sign in</button>
                        <button type="submit" class="btn btn-default float-right">Cancel</button>
                    </div>
                    <!-- /.card-footer -->
                </form>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
