@using static DataModels.CapExTSDBStoredProcedures;


@{
    ViewData["Title"] = "Home Page";
   // Layout = "~/Views/Shared/_Layout.cshtml";


}



<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">View Indent</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">View Indent </li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Horizontal Form</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->



                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">

                                <!-- /.card -->
                                <br />

                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">View Indent</h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">



                                        <form action="/submit-nfa-requisition" method="post">


                                            <div class="form-group row">

                                                <div class="col-md-12">
                                                    <label class="form-label" for="nfa_id">Incent ID:</label>
                                                    <div class="col-sm-6">
                                                        <input class="form-control" type="text" id="nfa_id" name="nfa_id" required>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-md-6">
                                                    <label class="form-label" for="type">Asset Type *</label>
                                                    <div class="col-sm-12">
                                                        <label>
                                                            <input type="radio" name="editList" value="" />Select
                                                        </label>
                                                        <label>
                                                            <input type="radio" name="editList" value="new" />new
                                                        </label>
                                                        <label>
                                                            <input type="radio" name="editList" value="expansion" />Expansion
                                                        </label>

                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label class="form-label" for="company">Select Company:</label>
                                                    <div class="col-sm-10">
                                                        <select id="company" class=" form-control dropdown" name="company" required>
                                                            <option value="">Select</option>
                                                            <option value="swetarstates_private">SWETARSTATES PRIVATE</option>
                                                        </select>
                                                    </div>
                                                </div>



                                            </div>


                                            <div class="form-group row">

                                                <div class="col-md-6">
                                                    <label class="form-label" for="department">Select BUI Department:</label>
                                                    <div class="col-sm-12">
                                                        <select id="department" class=" form-control dropdown" name="department" required>
                                                            <option value="">Select</option>
                                                        </select>
                                                    </div>

                                                </div>

                                                <div class="col-md-6">
                                                    <label class="form-label" for="exp_type">Select Exp Type:</label>
                                                    <div class="col-sm-10">

                                                        <select id="exp_type" class=" form-control dropdown" name="exp_type" required>
                                                            <option value="">Select</option>
                                                        </select>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="form-group row">
                                                <div class="col-md-6">
                                                    <label class="form-label" for="budget">Select Budget:</label>
                                                    <div class="col-sm-12">

                                                        <select id="budget" class=" form-control dropdown" name="budget" required>
                                                            <option value="">Select</option>
                                                        </select>
                                                    </div>

                                                </div>


                                                <div class="col-md-6">
                                                    <label class="form-label" for="nfa_type">NFA Type:</label>
                                                    <div class="col-sm-10">

                                                        <input class="form-control" type="text" id="nfa_type" name="nfa_type" required>

                                                    </div>
                                                </div>

                                            </div>



                                            <div class="form-group row">


                                                <div class="col-md-6">
                                                    <label class="form-label" for="exced_daw_of_corelation">Purpose </label>
                                                    <div class="col-sm-10">
                                                        <textarea class="form-control" type="text" id="exced_daw_of_corelation" name="exced_daw_of_corelation">
                                                    </textarea>

                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <label class="form-label" for="exced_daw_of_corelation">Expected Date of Completion *</label>
                                                    <div class="col-sm-10">
                                                        <input class="form-control" type="date" id="exced_daw_of_corelation" name="exced_daw_of_corelation">

                                                    </div>
                                                </div>
                                            </div>

                                            <hr />

                                            <div class="card-header">
                                                <h3 class="card-title">Fill Item Lines:</h3>
                                            </div>



                                            <div class="clearfix" style="margin-top :15px;">
                                            </div>




                                            <div class="card">
                                                <div class="card-body " style="background-color: #f5faff;">
                                                    <div id="div_manual" class="row">
                                                        <div class="col-sm-4 inline">
                                                            <label for="inputEmail3"
                                                                   class="control-label pull-left">Description</label>
                                                            <!-- <button type="button" formControlName="btnsearch"
                                                               value="Search" id="btnsearch" class=" "
                                                               style="float:right">Search</button> -->
                                                            <input formControlName="txtdescription" type="text"
                                                                   id="txtdescription" class="form-control inputtext ">
                                                        </div>

                                                        <div class="col-sm-1">
                                                            <label for="inputEmail3"
                                                                   class="control-label pull-left">UOM</label>&nbsp;
                                                            <select formControlName="ddluom"
                                                                    id="ddluom" class="form-control">
                                                                <option value="Nos" [selected]="true">Nos</option>
                                                                <option value="Pcs">Pcs</option>
                                                                <option value="Lot">Lot</option>
                                                                <option value="KG">KG</option>
                                                                <option value="Roll">Roll</option>
                                                                <option value="Mtr">Mtr</option>
                                                                <option value="Bundle">Bundle</option>
                                                                <option value="length">length</option>
                                                                <option value="Dozen">Dozen</option>
                                                                <option value="Pkt">Pkt</option>
                                                                <option value="Box">Box</option>
                                                                <option value="Set">Set</option>
                                                                <option value="Day">Day</option>
                                                            </select>
                                                        </div>

                                                        <div class="col-sm-1">
                                                            <label for="inputEmail3"
                                                                   class="control-label pull-left">Qty</label>&nbsp;
                                                            <input formControlName="txtqty" type="number"
                                                                   id="txtqty" class="form-control inputtext">
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <label for="inputEmail3" class="control-label pull-left">
                                                                Tax Rate
                                                            </label>&nbsp;
                                                            <input formControlName="txtlistprice" type="number"
                                                                   id="txtlistprice" class="form-control inputtext">
                                                        </div>

                                                        <div class="col-sm-2 " style="float:right">
                                                            <div class="clearfix" style="margin-top: 10px;"></div>
                                                            <button type="button"
                                                                    value="ADD" id="btn_add"
                                                                    class="btn btn-primary pull-Right" (click)="Add_items()">
                                                                ADD
                                                            </button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>


                                            <div class="clearfix" style="margin-top :15px;">
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 ">
                                                    <div class="table-responsive">
                                                        <div class=" card card-body card-warning table_wid">
                                                            <div>
                                                                <table id="example" class="table table-striped border-style table-bordered">
                                                                    <thead>
                                                                        <tr>
                                                                            <th scope="col">Action</th>
                                                                            <th scope="col">SrNo</th>
                                                                            <th scope="col">Description</th>

                                                                            <th scope="col">UOM</th>
                                                                            <th scope="col">Qty</th>
                                                                            <th scope="col">Tax Rate</th>

                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr style="background-color:0;" *ngFor="let person of pOExpenseItems;let a=index">
                                                                            <td>
                                                                                <button type="button"
                                                                                        class="badge bg-danger btn btn-sm" (click)="onDel(person.id)">
                                                                                    <a class="fa fa-trash"></a>
                                                                                </button>
                                                                                <!-- poId -->
                                                                            </td>
                                                                            <td style="width:100px;">
                                                                                <span id="GridView1_lblRowNumber_0">{{a+1}}</span>
                                                                            </td>
                                                                            <td (mouseenter)="mouseEnter(true,person.id,'desc')" (mouseleave)="mouseLeave(false,person.id,'desc')">
                                                                                <P id="label_desc{{person.id}}">  {{person.description}} </P>
                                                                                <textarea calss="form-control" id="desc{{person.id}}" (dblclick)="Tabledatachange(person.id,'desc')" style="display: none;" value="{{person.description}}"> </textarea>
                                                                            </td>

                                                                            <td>
                                                                                <P id="label_uom{{person.id}}"> {{person.uom}} </P>
                                                                                <input type="text" calss="form-control" id="uom{{person.id}}" style="display: none;" value="{{person.uom}}">
                                                                            </td>

                                                                            <td (mouseenter)="mouseEnter(true,person.id,'qty')" (mouseleave)="mouseLeave(false,person.id,'qty')">
                                                                                <P id="label_qty{{person.id}}"> {{person.qty}}  </P>
                                                                                <input type="number" calss="form-control" id="qty{{person.id}}" (dblclick)="Tabledatachange(person.id,'qty')" style="display: none;" value="{{person.qty}}">
                                                                            </td>

                                                                            <td (mouseenter)="mouseEnter(true,person.id,'listPrice')" (mouseleave)="mouseLeave(false,person.id,'listPrice')">
                                                                                <P id="label_listPrice{{person.id}}">  {{person.listPrice}} </P>
                                                                                <input type="number" calss="form-control" id="listPrice{{person.id}}" (dblclick)="Tabledatachange(person.id,'listPrice')" style="display: none;" value="{{person.listPrice}}">
                                                                            </td>

                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>







                                            <hr />


                                            <div class="card-header">
                                                <h3 class="card-title">Select Quotation</h3>
                                            </div>

                                            <br />
                                            <div class="form-group row">

                                                <div class="col-md-6">


                                                    <label class="form-label" for="imported_indigenous">Imported/Insigenous:</label>
                                                    <div class="col-sm-10">

                                                        <select id="imported_indigenous" class=" form-control dropdown" name="imported_indigenous" required>
                                                            <option value="">Select</option>
                                                            <option value="imported">Imported</option>
                                                            <option value="indigenous">Indigenous</option>
                                                        </select>

                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <label class="form-label" for="justification">Justification:</label>
                                                    <div class="col-sm-10">


                                                        <textarea class="form-control" id="justification" name="justification" required></textarea>

                                                    </div>
                                                </div>


                                            </div>



                                            <div class="form-group row">
                                                <div class="col-md-6">
                                                    <label class="form-label" for="benett">Benefit:</label>
                                                    <div class="col-sm-10">


                                                        <input class="form-control" type="text" id="benett" name="benett" required>

                                                    </div>
                                                </div>



                                                <div class="col-md-6">
                                                    <label class="form-label" for="rr_payback_pernod_file">IRR/Payback Period File:</label>
                                                    <div class="col-sm-10">




                                                        <input class="form-control" type="file" id="rr_payback_pernod_file" name="rr_payback_pernod_file" required>

                                                    </div>

                                                </div>







                                            </div>





                                            <div class="form-group row">

                                                <div class="col-md-6">


                                                    <label class="form-label" for="rri_fza_ck_period_value">IRR/Payback Period Value:</label>
                                                    <div class="col-sm-10">


                                                        <input class="form-control" type="text" id="rri_fza_ck_period_value" name="rri_fza_ck_period_value">

                                                    </div>


                                                </div>


                                                <div class="col-md-6">

                                                    <label class="form-label" for="projected_cash_outflow_fis">Projectet Cash Outflow File:</label>
                                                    <div class="col-sm-10">



                                                        <input class="form-control" type="file" id="projected_cash_outflow_fis" name="projected_cash_outflow_fis" required>


                                                    </div>
                                                </div>




                                            </div>


                                            <div class="form-group row">



                                                <div class="col-md-6">
                                                    <label class="form-label" for="projected_cash_outflow_value">Projectet Cash Outflow Value:</label>
                                                    <div class="col-sm-10">




                                                        <input class="form-control" type="file" id="projected_cash_outflow_fis" name="projected_cash_outflow_fis" required>


                                                    </div>

                                                </div>

                                            </div>






                                            <hr />

                                            <div class="card-header">
                                                <h3 class="card-title">Approval Matrix</h3>
                                            </div>



                                            <div class="row">
                                                <div class="col-sm-12 ">
                                                    <div class="table-responsive">
                                                        <div class=" card card-body card-warning table_wid">
                                                            <div>
                                                                <table id="example" class="table table-striped border-style table-bordered">
                                                                    <thead>
                                                                        <tr>
                                                                            <th scope="col">Action</th>
                                                                            <th scope="col">SrNo</th>
                                                                            <th scope="col">Description</th>

                                                                            <th scope="col">UOM</th>
                                                                            <th scope="col">Qty</th>
                                                                            <th scope="col">Tax Rate</th>

                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr style="background-color:0;" *ngFor="let person of pOExpenseItems;let a=index">
                                                                            <td>
                                                                                <button type="button"
                                                                                        class="badge bg-danger btn btn-sm" (click)="onDel(person.id)">
                                                                                    <a class="fa fa-trash"></a>
                                                                                </button>
                                                                                <!-- poId -->
                                                                            </td>
                                                                            <td style="width:100px;">
                                                                                <span id="GridView1_lblRowNumber_0">{{a+1}}</span>
                                                                            </td>
                                                                            <td (mouseenter)="mouseEnter(true,person.id,'desc')" (mouseleave)="mouseLeave(false,person.id,'desc')">
                                                                                <P id="label_desc{{person.id}}">  {{person.description}} </P>
                                                                                <textarea calss="form-control" id="desc{{person.id}}" (dblclick)="Tabledatachange(person.id,'desc')" style="display: none;" value="{{person.description}}"> </textarea>
                                                                            </td>

                                                                            <td>
                                                                                <P id="label_uom{{person.id}}"> {{person.uom}} </P>
                                                                                <input type="text" calss="form-control" id="uom{{person.id}}" style="display: none;" value="{{person.uom}}">
                                                                            </td>

                                                                            <td (mouseenter)="mouseEnter(true,person.id,'qty')" (mouseleave)="mouseLeave(false,person.id,'qty')">
                                                                                <P id="label_qty{{person.id}}"> {{person.qty}}  </P>
                                                                                <input type="number" calss="form-control" id="qty{{person.id}}" (dblclick)="Tabledatachange(person.id,'qty')" style="display: none;" value="{{person.qty}}">
                                                                            </td>

                                                                            <td (mouseenter)="mouseEnter(true,person.id,'listPrice')" (mouseleave)="mouseLeave(false,person.id,'listPrice')">
                                                                                <P id="label_listPrice{{person.id}}">  {{person.listPrice}} </P>
                                                                                <input type="number" calss="form-control" id="listPrice{{person.id}}" (dblclick)="Tabledatachange(person.id,'listPrice')" style="display: none;" value="{{person.listPrice}}">
                                                                            </td>

                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>



                                            <hr />
















                                            </br>


                                            <div class="card-footer">
                                                <button type="submit" class="btn btn-info">Submit</button>
                                                <button type="submit" class="btn btn-default float-right">Cancel</button>
                                            </div>



                                            <!-- /.card-footer -->
                                        </form>










                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container-fluid -->
                </section>





            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>


<script>

    $('#exampla').dataTable({

    });
</script>




