
@using static DataModels.CapExTSDBStoredProcedures;
@model CapExTSVS.Models1.IndentCreate
@{
    ViewData["Title"] = "Home Page";
   Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Create /Request Indent</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Create /Request Indent</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Create /Request Indent</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form action="/INDENT/CreateIndent" method="post" class="form-horizontal">
                    <div class="card-body">
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Select Company <span style="color:red"> *</span></label>
                            <div class="col-sm-10">
                                

                                <select Value="@Model?.Company" name="Company" class="form-control dropdown"placeholder="Enter Company Value" onchange="Dropdownchange(this.value)">
                                    <option Selected="True" Value="0">Select</option>

                                    @foreach (var da in ViewData["com"] as IList<CapexSelddlResult>)
                                        {
                                    <option Value="@da.CODE">@da.DES</option>
                                  
                                        }

                                </select>
                               
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">Select BU/Project/Plant <span style="color:red"> *</span></label>
                            <div class="col-sm-10">
                          
                                <select class="form-control" Value="@Model?.BU" name="BU" id="BU" placeholder="Enter BU/Project/Plant">
                                    <option Selected="True" Value="0">Select</option>

                                   @* @foreach (var da in ViewData["com"] as IList<CapexSelddlResult>)
                                    {
                                        <option Value="@da.CODE">@da.DES</option>

                                    }*@

                                </select>
                            </div>
                        </div>
                    
                           
                            

                        
                                <div class="form-group row">

                            <label class="col-sm-2 col-form-label" for="exampleCheck2">Select Exp Type <span style="color:red"> *</span></label>
                                    <div class="col-sm-10">
                                <input type="text" class="form-control" name="CapexType" placeholder="Enter Exp Type" required>
                                    </div>
                                </div>
                          

                   
                                <div class="form-group row">

                            <label class="col-sm-2 col-form-label" for="exampleCheck2">Location of work <span style="color:red"> *</span></label>
                                    <div class="col-sm-10">
                                <input type="text" class="form-control" name="LocationWork" Value="@Model?.LocatioWork" id="inputEmail3" placeholder="Enter Location of work " required>
                                    </div>
                                </div>
                           

                      
                                <div class="form-group row">

                            <label class="col-sm-2 col-form-label" for="exampleCheck2">Select Exp Type <span style="color:red"> *</span></label>
                                    <div class="col-sm-10">
                              
                                <select class="form-control dropdown" Value="" id="inputEmail3" placeholder="Enter Exp Type ">
                                    <option Selected="True" Value="0">Select</option>
                                    <option Value="10">Capex</option>
                                    <option Value="11">Opex</option>


                                </select>

                                    </div>
                                </div>
                         

                                <div class="form-group row">

                            <label class="col-sm-2 col-form-label" for="exampleCheck2">Type of Work/Work Details <span style="color:red"> *</span></label>
                                    <div class="col-sm-10">
                                <input type="text" class="form-control" name="TypeofWorkDetails" Value="@Model?.TypeofWorkDetails" id="inputEmail3" placeholder="Enter Work/Work Details" required>
                                    </div>
                                </div>
                          

                       
                                <div class="form-group row">
                                  
                                    <label class="col-sm-2 col-form-label" for="exampleCheck2">Enclosure BQQ	</label>
                                    <div class="col-sm-10">
                                <input type="text" class="form-control" name="EnclosureBQQFile" Value="@Model?.EnclosureBQQFile" id="inputEmail3" placeholder="Enter Enclosure BQQ">
                                    </div>
                                </div>
                          

                    
                                <div class="form-group row">
                                   
                                    <label class="col-sm-2 col-form-label" for="exampleCheck2">Enclosure Drawing/Technical Specification</label>
                                    <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputEmail3" name="EnclosureDrawingFile" Value="@Model?.EnclosureDrawingFile" placeholder="Enter Enclosure Drawing/Technical Specification">
                                    </div>
                                </div>
                          

                       
                                <div class="form-group row">

                            <label class="col-sm-2 col-form-label" for="exampleCheck2">Select Budget  <span style="color:red"> *</span>	</label>
                                    <div class="col-sm-10">
                             



                                <select class="form-control dropdown" id="inputEmail3" name="BudgetType" Value="@Model?.BudgetType" placeholder="Enter Budget">
                                    <option Selected="True" Value="0">Select</option>
                                    <option Value="Budgeted">Budgeted</option>
                                    <option Value="NonBudgeted">NonBudgeted</option>
                                   

                                </select>


                          
                            
                            
                            </div>
                                </div>
                            
                       
                                <div class="form-group row">
                                   
                                    <label class="col-sm-2 col-form-label" for="exampleCheck2">TAT (Turn Around Time)	</label>
                                    <div class="col-sm-10">
                               

                                <select  class="form-control dropdown" id="inputEmail3" name="Tat" Value="@Model?.Tat">
                                    <option Selected="True" Value="0">Select</option>
                                    <option Value="30">30</option>
                                    <option Value="45">45</option>
                                    <option Value="60">60</option>
                              
                                </select>
                               
                                    </div>
                                </div>
                           

                         
                                <div class="form-group row">
                                    
                                    <label class="col-sm-2 col-form-label" for="exampleCheck2">
                                Tentative Start Date <span style="color:red"> *</span>
                                    </label>
                                    <div class="col-sm-10">
                                <input type="date" class="form-control" name="TentativeStartDate" Value="@Model?.TentativeStartDate" id="inputEmail3" placeholder="Enetr Tentative Start Date" required >
                                    </div>
                                </div>


                        <div class="form-group row">

                            <label class="col-sm-2 col-form-label" for="exampleCheck2">
                                Tentative Completion Date * <span style="color:red"> *</span>
                            </label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" name="TentativeCompletionDate" Value="@Model?.TentativeCompletionDate" id="inputEmail3" placeholder=" Enter Tentative Completion Date *" required >
                            </div>
                        </div>


                               
                           

                       
                                <div class="form-group row">
                                    
                                    <label class="col-sm-2 col-form-label" for="exampleCheck2">Proposed Contractor Value (New/Existing)	</label>
                                    <div class="col-sm-10">
                                <input type="text" class="form-control" namde="ProposedContractorName" Value="@Model?.ProposedContractorName" placeholder="Enter Proposed Contractor Value (New/Existing)">
                                    </div>
                                </div>
                           

                       
                                <div class="form-group row">
                                   
                                    <label class="col-sm-2 col-form-label" for="exampleCheck2">Vendor Existing/New for Same Location	</label>
                                    <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputEmail3"  name="VendorExistingLocation" placeholder="Enter Vendor Existing/New for Same Location " >
                                    </div>
                                </div>
                          

                       
                                <div class="form-group row">
                                    
                                    <label class="col-sm-2 col-form-label" for="exampleCheck2">Contractor Details (if New), Address, GST No. etc.	</label>
                                    <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputEmail3" name="ContractorDetailsAddressGST" Value="@Model?.ContractorDetailsAddressGST" placeholder="Enter Contractor Details (if New), Address, GST No. etc." >
                                    </div>
                                </div>
                           

                        
                                <div class="form-group row">
                                    
                                    <label class="col-sm-2 col-form-label" for="exampleCheck2">Other Remarks	</label>
                                      <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputEmail3" name="Remarks" Value="@Model?.Remarks" placeholder="Enter Remarks">
                            </div>
                                </div>


                        <div class="form-group row">

                            <label class="col-sm-12 col-form-label" for="exampleCheck2">
                                Tag Purchaser (Once Indent will be approved then we will inform tagged purchaser by email.)
                                Note: Use Ctrl to select multiple tag purchaser.
                            </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputEmail3" placeholder="Enter Remarks">
                            </div>
                        </div>


                       


                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <button type="submit" class="btn btn-info">Submit</button>
                        <button type="submit" class="btn btn-default float-right">Cancel</button>
                    </div>
                    <!-- /.card-footer -->
                </form>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>


<script>
  

    function Dropdownchange(value) {
  
        $.ajax({
            type: "GET",
            url: "\ValidateUserAuth?d=" + value,
            success: function (data) {
                console.log(data)
                var $el = $("#BU");
                $el.empty(); // remove old options
                $el.append($("<option></option>")
                    .attr("value", '').text('Please Select'));

                $.each(data, function (value, key) {
                    $el.append($("<option></option>")
                        .attr("value", value.code).text(key.code));
                    console.log(value);
                });

            }
        })

       

      
    }
</script>